{% extends 'base.html' %}
	{% block title %} About {% endblock title %}
  {% block body %}
  {% load static %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>BigDukaan!</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>BigDukaan.in , is an Indian electronic commerce company based in Nashik, India. 
            Founded by Wajid Shaikh, Bhushan Sonawne and Pratik Kadoli in 2020, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products. 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Bussiness</li>
              <li><i class="ri-check-double-line"></i> Best Offer's</li>
              <li><i class="ri-check-double-line"></i> Quick Delivery</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              BigDukaan.in , is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI). In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.
            </p>
            <a href="#team" class="btn-learn-more">Our Team</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
        <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static "assets/img/team/team-1.jpeg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="javascript:void(0)"><i class="icofont-twitter"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-facebook"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-instagram"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Wajid Shaikh</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static "assets/img/team/team-2.jpeg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="javascript:void(0)"><i class="icofont-twitter"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-facebook"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-instagram"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Bhushan Sonawane</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static "assets/img/team/team-3.jpeg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="javascript:void(0)"><i class="icofont-twitter"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-facebook"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-instagram"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pratik Kadoli</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static "assets/img/team/6.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="javascript:void(0)"><i class="icofont-twitter"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-facebook"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-instagram"></i></a>
                  <a href="javascript:void(0)"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
{% endblock body %}
