{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %} | BigDukaan</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/animate.css/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/line-awesome/css/line-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "assets/fontawesome/css/all.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% comment %} <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {% endcomment %}
  <style>
  .w3-margin-left {
    margin-left: 2px !important;
  }
  .w3-badge, .w3-tag {
    background-color: white;
    color: black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 6px;
    text-align: center;
  }
  {% block css %}
  {% endblock css %}
  </style>
  <!-- =======================================================
  * Template Name: BigDukaan - v2.1.0
  * Template URL: https://bootstrapmade.com/BigDukaan-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">BigDukaan</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          {% if user.is_authenticated%}
          <li class="drop-down"><a href="#">Welcome {{request.user}}</a>
            <ul>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">SignUp</a></li>   
          {% endif %}     
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/tracker">Track Order</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/store" class="mr-1">Store</a></li>
          <li>
            <form action="/search/" method="get">
              <input type="text" name="search" id="search" style="padding: 3px 21px;width: 65%;border-radius: 0px;border-style: solid;border-color: #18d26e;" placeholder="Search item"><input type="submit" value="Search" style="background: #18d26e;border: 0;width: 35%;padding: 5px 0;text-align: center;color: #fff;transition: 0.3s;cursor: pointer;border-radius: 0px;">
            </form>
          </li>
          <li><button onclick="location.href='/cartitems'" id="popcart" type="button" class="ml-2" style="font-size: 20px; background-color: #18D26E; border: 2px solid #18D26E;">
              <i class="fas fa-shopping-cart ml-2 mr-2 mt-1" style="font-size: 21px; color:#fff";></i><span class="badge badge-light mr-2" id="cart" style="font-size: 17px;">0</span>
</button></li>
          {% comment %} <li><i onclick="location.href='#shopcart'" class="fas fa-shopping-cart ml-2 " id="popcart" style="font-size:32px; color:#18d26e;"><span class="" style="font-size:20px; color:#18d26e;" id="cart">0</span></i></li> {% endcomment %}

{% comment %} <button onclick="location.href='#shopcart'" id="popcart" class="w3-btn ml-2" style=""><span style=""><b>Cart</b></span><span class="w3-badge w3-margin-left" id="cart">0</span></button></li> {% endcomment %}
          {% comment %} <li class="active"><a href="#">Cart(<span id="cart">0</span>)</a></li> {% endcomment %}

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
		{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
		{% endif %}

{% block body %}
{% endblock body %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>BigDukaan</h3>
            <p>BigDukaan.in , is an Indian electronic commerce company based in Nashik, India. BigDukaan.in , is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong. BigDukaan provides sale of electronics like mobile phones,etc .
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/services">Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/contact">Contact Us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="javascript:void(0)">Terms & Conditions</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Jedhe Street <br>
              Nashik, N 422101<br>
              India. <br>
              <strong>Phone:</strong> +91 9049935417<br>
              <strong>Email:</strong> shopizzycares@gmail.com<br>
            </p>

          <div class="social-links">
            <a href="https://twitter.com/bigdukaan" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://facebook.com/bigdukaan" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://instagram.com/bigdukaan" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://skype.com/bigdukaan" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://linkedin.com/bigdukaan" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>BigDukaan.in , is an Indian electronic commerce company based in Nashik, India. BigDukaan.in , is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.</p>
            <form action="javascript:void(0)" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong>BigDukaan</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "assets/vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "assets/js/main.js" %}"></script>

{% block js %}
{% endblock js %}
</html>