{% extends 'base.html' %}
	{% block title %} Services {% endblock title %}
  {% load static %}
  {% block body %}
    <!-- ======= Services Section ======= -->
    <section id="services" class="services mt-3">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="fas fa-carrot" style="color: #28a745;"></i></div>
              <h4 class="title"><a href="">Vegetables</a></h4>
              <p class="description">Order freshly picked, organic and local vegetables. Our farms deliver to us daily, ensuring you only eat the best of what's in season.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="fas fa-apple-alt" style="color: indianred;"></i></div>
              <h4 class="title"><a href="">Fruits</a></h4>
              <p class="description">Buy fresh fruit - always delivered from the farm to your door. If you're looking for a fruit delivery service, Each fruit give you organic tastes.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="fas fa-store" style="color: #cdcb3f;"></i></div>
              <h4 class="title"><a href="">Grocery Items</a></h4>
              <p class="description">Stay home and safe and order your groceries from online services. With contactless delivery & other safety measures</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="fas fa-headphones" style="color:#cf8f2e;"></i></div>
              <h4 class="title"><a href="">Electronic Items</a></h4>
              <p class="description">Our passion for consumer service has seen us in long-term partnerships with India's biggest retail. of Consumer Electronics, Small Domestics Appliances.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="fas fa-book" style="color: #2289ff;"></i></div>
              <h4 class="title"><a href="">Books</a></h4>
              <p class="description">... ✓Stationery Shops, ✓Spiral Binding Services in Pune. Get Phone Numbers, Address, Reviews, Photos, Maps for top Book Binding Services near me in Pune</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="fas fa-tshirt" style="color: #ff46d1;"></i></div>
              <h4 class="title"><a href="">cloths</a></h4>
              <p class="description">Comming Soon ...</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
{% endblock body %}
